################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/ICMD.API/bin/Debug/net7.0
/Backend/ICMD.API/obj
/Backend/ICMD.Core/bin/Debug/net7.0
/Backend/ICMD.Core/obj
/Backend/ICMD.Core.Shared/bin/Debug/net7.0
/Backend/ICMD.Core.Shared/obj
/Backend/ICMD.EntityFrameworkCore/bin/Debug/net7.0
/Backend/ICMD.EntityFrameworkCore/obj
/Backend/ICMD.Infra.IoC/bin/Debug/net7.0
/Backend/ICMD.Infra.IoC/obj
/Backend/ICMD.Repository/bin/Debug/net7.0
/Backend/ICMD.Repository/obj
/Backend/.vs
/Backend/ICMD.API/bin/Release/net7.0
/Backend/ICMD.Core/bin/Release/net7.0
/Backend/ICMD.Core.Shared/bin/Release/net7.0
/Backend/ICMD.EntityFrameworkCore/bin/Release/net7.0
/Backend/ICMD.Infra.IoC/bin/Release/net7.0
/Backend/ICMD.Repository/bin/Release/net7.0
/Backend/ICMD.API/Properties/PublishProfiles
/Backend/ICMD.API/bin/Debug/net8.0
/Backend/ICMD.Core/bin/Debug/net8.0
/Backend/ICMD.Core.Shared/bin/Debug/net8.0
/Backend/ICMD.EntityFrameworkCore/bin/Debug/net8.0
/Backend/ICMD.Infra.IoC/bin/Debug/net8.0
/Backend/ICMD.Repository/bin/Debug/net8.0
/Backend/ICMD.API/bin/Release/net8.0
/Backend/ICMD.Core/bin/Release/net8.0
/Backend/ICMD.Core.Shared/bin/Release/net8.0
/Backend/ICMD.EntityFrameworkCore/bin/Release/net8.0
/Backend/ICMD.Infra.IoC/bin/Release/net8.0
/Backend/ICMD.Repository/bin/Release/net8.0
