<form class="form example-form" novalidate [formGroup]="form">

    <div class="row mt-5">
        <div class="col-4">
            <mat-form-field class="example-full-width">
                <mat-label>Cable Asset Type</mat-label>
                <input matInput maxlength="3" formControlName="cableAssetType" autocomplete="false">
            </mat-form-field>
        </div>
        <div class="col-8">
            <mat-form-field class="example-full-width">
                <mat-label>Cable Asset Description</mat-label>
                <input matInput formControlName="cableAssetDescription" autocomplete="false">
            </mat-form-field>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-4">
            <mat-form-field class="example-full-width">
                <mat-label>Cable Category</mat-label>
                <input matInput maxlength="3" formControlName="cableCategory" autocomplete="false">
            </mat-form-field>
        </div>
        <div class="col-8">
            <mat-form-field class="example-full-width">
                <mat-label>Cable Category Description</mat-label>
                <input matInput formControlName="cableCategoryDescription" autocomplete="false">
            </mat-form-field>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-4">
            <mat-form-field class="example-full-width">
                <mat-label>Cable Type</mat-label>
                <input matInput maxlength="3" formControlName="cableType" autocomplete="false">
            </mat-form-field>
        </div>
        <div class="col-8">
            <mat-form-field class="example-full-width">
                <mat-label>Cable Type Description</mat-label>
                <input matInput formControlName="cableTypeDescription" autocomplete="false">
            </mat-form-field>
        </div>
    </div>

</form>